
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
/* scrollbar */
::-webkit-scrollbar {
    width: 16px;
}
 
::-webkit-scrollbar-track {
    background-color: #ffffff;
   
}
 
::-webkit-scrollbar-thumb {
    background-color: #adb4c083;
    border-radius: 100px;
}



 
sign{
	float: right;
	line-height: 60px;
	margin-right: 40px;
}
.sign a{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.act{
	border: 2px solid #fff;
	border-radius: 50px;
	padding: 6px 15px;
}
.sign a:hover{
	color: #00a7ff; /* blue */
	border-color: #00a7ff; /* blue */
}
/* /1 */

/* 2 */
.slider{
    
	position: relative;
	width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 10%;
	background: #2c3e50; /* darckblue */
}
.myslide{
    
	height: 80vh;
   
	display: flex;
    justify-content: center;
    align-items: center;
	overflow: hidden;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}
.next{
	right: 0;
}


/* /2 */

/* javascript */
.active, .dot:hover{
	border-color: #00a7ff; /* blue */
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}






/* navbar */
.navbar {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px;
    align-items: center;
    
}


#logo img{
    width: 60%;
    
}
#sousnav a {
    text-decoration: none;
    padding-left: 15px;
    color: #182330;
    
}
/* end navbar */


.title{
    height: 35vh;
    width: 100%;
    color: #182330;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.title H1 {
    width: 100%;
    
}
#title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
}



/* footer */
.footer{
	background-color: #041830;
    padding: 70px 0;
	color: white;
}
.footer a {
    color: white;
}
.footer img{
    filter: brightness(18);
}
@media only screen and (max-width: 800px){
    
    #sousnav {
        
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 70%;
        font-weight: bold;
        width: 100%;
        margin-top: 20px;
         
    }
    #logo {
        display: none;
    }
    
    
    
   
    
}
 